$white: #ffffff;
$lightest-gray: #f2f2f2;
$primary-color: #38b5ff;
$secondary-color: #3679b2;
$dark-blue: #273d6a;
$dark-gray: #626262;
$light-gray: #979797;
$button-gray: #cccccc;
$navy-blue: #082742;