@import 'custom-variables';

html, body {
    width: 100%;
}

body {
    background-color: $lightest-gray;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.bottom-margin {
    margin-bottom: 50px;
}

.top-margin-title {
    margin-top: 70px;
}

// .label-heading {
//     font-weight: bold;   
// }

.btn {
    border: none;
}

.custom-button {
    background-color: $primary-color;
    border: none;
    color: $white;

    &:hover {
        background-color: $secondary-color;
    }
}

.intern-attendance-button {
    @extend .custom-button;
    @extend .edit-button;
    font-size: 1.5em;
    margin: 0 auto;
}

.edit-button {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
    color: $primary-color;
    justify-content: left;
    margin-bottom: 20px;

    a {
        color: $dark-gray;

        &:hover {
            color: $secondary-color;
            text-decoration: none;
        }
    }
}

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: $primary-color;
    overflow-y: scroll;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;

    .logo {
        margin: 15px auto;
    }

    .sidebar-menu {
        padding-top: 50px;
    }

    ul, li {
        list-style: none;
        }
    
    a {
        border-left: 5px solid transparent;
        color: $white;
        display: block;
        padding: 15px 30px 15px 30px;
        white-space: nowrap;

        &:hover {
            background-color: $secondary-color;
            border-left: 5px solid $dark-blue;
            text-decoration: none;
        }

        span {
            display: inline-grid;
            white-space: normal;
        }
    
    }

    .active {
        background-color: pink;
    }

    ul.sub {
        li {
            padding-left: 30px;
        }

        a {
            white-space: normal;
        }
    }
}

.hidden-toggle {
    display: none;
}

.title {
    display: inline-block;
}

.main-content {
    margin-left: 210px;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.animation { 
    animation: expand .5s;
    margin-left: 0;
}

.reverse-animation { 
    @extend .main-content;
    animation: reverse-expand .5s;
}

@keyframes expand {
    from {margin-left: 210px;}
    to {margin-left: 0px;}
}

@keyframes reverse-expand {
    from {margin-left: 0px;}
    to {margin-left: 210px;}
}

#nav-icon-close {
    float: right;
    margin: 10px;
}

#nav-icon-open {
    margin-right: 10px;
}

.custom-toggle {
    cursor: pointer;
    height: 25px;
    position: relative;
    width: 30px;
}
  
.custom-toggle span {
    background: $dark-blue;
    border-radius: 9px;
    display: block;
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
}

/* Icon 3 */

#nav-icon-open span:nth-child(1) {
    top: 0px;
}

#nav-icon-open span:nth-child(2) {
    top: 9px;
}

#nav-icon-open span:nth-child(3) {
    top: 19px;
}

#nav-icon-close span:nth-child(1) {
    top: 15px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon-close span:nth-child(2) { 
    top: 15px;  
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-responsive {
    display: block;
    overflow: auto;
}

#prof_pic {
    max-height: 200px;
}

.table {
    background: $white;
    thead {
        tr {
            th {
                border: none;
            }
        }
    }
}

.dataTables_wrapper {
    margin-bottom: 30px;

    .dataTables_filter {
        input {
            border: 1px solid $light-gray;
            border-radius: 30px;
            text-indent: 10px;

            &:focus {
                outline: none;
            }
        }
    }

    .dataTables_paginate {
        a {
            &.paginate_button {
                &.current {
                    border-radius: 50%;
                }

                &:hover {
                    background: $secondary-color;
                    background-color: $secondary-color;
                    border: 1px solid $secondary-color;
                    border-radius: 50%;
                    color: $white !important;
                }

                &:focus {
                    outline: none;
                }

                &:active {
                    background: none;
                    box-shadow: none;
                }
            }

            &.next, &.previous {
                &:hover {
                    background: none;
                    border: 1px solid transparent;
                    color: $secondary-color !important;
                    cursor: pointer;
                    // font-weight: bold;
                }
            }

            // &#timesheet-table_next, &#timesheet-table_previous {
            //     &:hover {
            //         background: none;
            //         border: 1px solid transparent;
            //         color: $secondary-color !important;
            //         cursor: pointer;
            //         // font-weight: bold;
            //     }
            // }      
        }
    }
}

.dropdown-item {
    &:hover, &:active {
        background-color: $secondary-color;
        color: $white;
        width: auto;
    }
}

#DateTime {
    display: block;
    text-align: center;
    .time {
        font-size: 3em;
        font-weight: bold;
    }
    
    .date {
        font-size: 1.5em;
    }
}

.form-container {
    @extend .bottom-margin;
    text-align: center;

    .form-timesheet {
        display: inline-flex;
        margin: 10px 0 10px 0;
        
        // button::after {
        //         font-family: FontAwesome;
        //         content: "\f093";
        //         overflow: hidden;
        //         display: inline-block;
        //         padding-right: 3px;
        //         vertical-align: middle;
        //         color: $secondary-color;
        //         position: absolute;
        // }

        // button:hover::after {
        //     color: $primary-color;
        // }

        .custom-button {
            font-size: 1.5em;
            // font-weight: bold;
            padding: 15px;
            text-align: left;
        }

        #vacation-leave {
            background-image: url(../images/vacation.svg);
        }

        #sick-leave {
            background-image: url(../images/sick.svg);
        }

        .leave-button {
            background-position-x: 5.5em;
            background-position-y: -20px;
            background-size: 60%;
            background-repeat: no-repeat;
            font-size: 1.2em !important;
            height: auto;
            width: 200px;
        }

        .button-text {
            display: block;
            white-space: normal;
            width: 50%;
        }
    }
}


#calendar {
    .ui-state-active {
        background: $primary-color;
        border: 1px solid $secondary-color;
        color: $white;
        
        &:hover {
            background: $secondary-color;
        }
    }

    .ui-button {

        &:active {
            @extend .ui-state-active;
        }
    }
}

#overtime-details-modal {
    table {
        td {
            border-top: 0;
        }
    }
}

.dropdown-item {
    &:hover, &:active {
        background-color: $secondary-color;
        color: $white !important;
        cursor: pointer;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    #sidebar {
        height: 100%;
        margin-left: -210px;
        position: fixed;
        // top: 55px;
        z-index: 99;

        // .sidebar-menu {
        //     padding-top: 0;
        // }
    }

    .main-content {
        margin-left: 0;
        position: relative;
    }

    .navbar-custom {
        z-index: 99;
    }

    .hidden-toggle {
        display: block;
    }

    #nav-icon-close {
        display: none;
    }

    .form-horizontal {
        .control-label {
            text-align: left;
        }    
    }
}