html, body {
  width: 100%; }

body {
  background-color: #f2f2f2;
  font-size: 14px; }

.center-block {
  display: block;
  margin: 0 auto; }

.bottom-margin, .form-container {
  margin-bottom: 50px; }

.top-margin-title {
  margin-top: 70px; }

.btn {
  border: none; }

.custom-button, .intern-attendance-button {
  background-color: #38b5ff;
  border: none;
  color: #ffffff;
  font-size: 14px; }
  .custom-button:hover, .intern-attendance-button:hover {
    background-color: #3679b2; }

.btn-group .btn-custom {
  border: 1px solid #cccccc;
  color: inherit !important; }
  .btn-group .btn-custom:focus {
    box-shadow: none;
    outline: none !important;
    border-color: #80bdff; }

.intern-attendance-button {
  font-size: 18px;
  margin: 0 auto; }

.edit-button, .intern-attendance-button {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px; }

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  color: #38b5ff;
  justify-content: left;
  margin-bottom: 20px; }
  .navbar-custom a {
    color: #626262; }
    .navbar-custom a:hover {
      color: #3679b2;
      text-decoration: none; }

#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #273d6a;
  overflow-y: auto;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s; }
  #sidebar .logo {
    margin: 15px auto; }
  #sidebar .sidebar-menu {
    padding-top: 50px; }
  #sidebar ul, #sidebar li {
    list-style: none; }
  #sidebar a {
    border-left: 5px solid transparent;
    color: #ffffff;
    display: block;
    padding: 15px 30px 15px 30px;
    white-space: nowrap; }
    #sidebar a:hover {
      background-color: #082742;
      border-left: 5px solid #3679b2;
      text-decoration: none; }
    #sidebar a span {
      display: inline-grid;
      white-space: normal; }
  #sidebar .active {
    background-color: pink; }
  #sidebar ul.sub li {
    padding-left: 30px; }
  #sidebar ul.sub a {
    white-space: normal; }

.hidden-toggle {
  display: none; }

.title {
  display: inline-block; }

.main-content {
  margin-left: 210px;
  overflow: hidden;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s; }

#nav-icon-close {
  float: right;
  margin: 10px; }
  #nav-icon-close span {
    background: #ffffff; }

#nav-icon-open {
  margin-right: 10px; }
  #nav-icon-open span {
    background: #626262; }

.custom-toggle {
  cursor: pointer;
  height: 25px;
  position: relative;
  width: 30px; }

.custom-toggle span {
  border-radius: 9px;
  display: block;
  height: 3px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%; }

/* Icon 3 */
#nav-icon-open span:nth-child(1) {
  top: 0px; }

#nav-icon-open span:nth-child(2) {
  top: 9px; }

#nav-icon-open span:nth-child(3) {
  top: 19px; }

#nav-icon-close span:nth-child(1) {
  top: 15px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon-close span:nth-child(2) {
  top: 15px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.custom-responsive {
  display: block;
  overflow: auto; }

#prof_pic {
  max-height: 200px; }

.table {
  background: #ffffff; }
  .table thead tr th {
    border: none; }

.dataTables_wrapper {
  margin-bottom: 30px; }
  .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #979797;
    border-radius: 30px;
    text-indent: 10px; }
    .dataTables_wrapper .dataTables_filter input:focus {
      outline: none; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    border-radius: 50%; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #3679b2;
    background-color: #3679b2;
    border: 1px solid #3679b2;
    border-radius: 50%;
    color: #ffffff !important; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button:focus {
    outline: none; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button:active {
    background: none;
    box-shadow: none; }
  .dataTables_wrapper .dataTables_paginate a.next:hover, .dataTables_wrapper .dataTables_paginate a.previous:hover {
    background: none;
    border: 1px solid transparent;
    color: #3679b2 !important;
    cursor: pointer; }

.dropdown-item:hover, .dropdown-item:active {
  background-color: #3679b2;
  color: #ffffff;
  width: auto; }

#DateTime {
  display: block;
  text-align: center; }
  #DateTime .time {
    font-size: 48px;
    font-weight: bold; }
  #DateTime .date {
    font-size: 24px; }

.form-container {
  text-align: center; }
  .form-container .form-timesheet {
    display: inline-flex;
    margin: 10px 0 10px 0; }
    .form-container .form-timesheet .custom-button, .form-container .form-timesheet .intern-attendance-button {
      font-size: 24px;
      padding: 15px;
      text-align: left; }
    .form-container .form-timesheet #vacation-leave {
      background-image: url(../images/vacation.svg); }
    .form-container .form-timesheet #sick-leave {
      background-image: url(../images/sick.svg); }
    .form-container .form-timesheet .leave-button {
      background-position-x: 100px;
      background-position-y: -15px;
      background-size: 60%;
      background-repeat: no-repeat;
      font-size: 24px !important;
      height: auto;
      width: 200px; }
    .form-container .form-timesheet .button-text {
      display: block;
      white-space: normal;
      width: 40%; }

#calendar .ui-state-active, #calendar .ui-button:active {
  background: #38b5ff;
  border: 1px solid #3679b2;
  color: #ffffff; }
  #calendar .ui-state-active:hover, #calendar .ui-button:hover:active {
    background: #3679b2; }

#overtime-details-modal table td {
  border-top: 0; }

.dropdown-item:hover, .dropdown-item:active {
  background-color: #3679b2;
  color: #ffffff !important;
  cursor: pointer;
  width: auto; }

#shiftDock {
  background: #273d6a;
  border: none;
  bottom: 100px;
  height: 510px;
  transition-duration: 0.2s;
  transition-delay: 0.5s; }
  #shiftDock.show {
    bottom: 500px;
    transition-delay: 0s; }
  #shiftDock .custom-card {
    border: none;
    border-radius: 0; }

.shift-table .custom-card {
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15); }

@media only screen and (max-width: 768px) {
  #sidebar {
    height: 100%;
    margin-left: -210px;
    position: fixed;
    z-index: 99; }
  .main-content {
    margin-left: 0;
    position: relative; }
  .navbar-custom {
    z-index: 99; }
  .hidden-toggle {
    display: block; }
  #nav-icon-close {
    display: none; }
  .form-horizontal .control-label {
    text-align: left; } }
