html, body {
  width: 100%; }

body {
  background-color: #f2f2f2; }

.center-block {
  display: block;
  margin: 0 auto; }

.bottom-margin {
  margin-bottom: 50px; }

.top-margin-title {
  margin-top: 70px; }

.btn {
  border: none; }

.custom-button {
  background-color: #25CBF2;
  border: none;
  color: #ffffff; }
  .custom-button:hover {
    background-color: #15BBE8; }

.edit-button {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px; }

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  justify-content: left;
  margin-bottom: 20px; }

#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  background: #25CBF2;
  overflow-y: scroll;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s; }
  #sidebar .logo {
    margin: 15px auto; }
  #sidebar .sidebar-menu {
    padding-top: 50px; }
  #sidebar ul, #sidebar li {
    list-style: none; }
  #sidebar a {
    border-left: 5px solid transparent;
    color: #ffffff;
    display: block;
    padding: 15px 30px 15px 30px;
    white-space: nowrap; }
    #sidebar a:hover {
      background-color: #15BBE8;
      border-left: 5px solid #007A9B;
      text-decoration: none; }
    #sidebar a span {
      display: inline-grid;
      white-space: normal; }
  #sidebar .active {
    background-color: pink; }
  #sidebar ul.sub li {
    padding-left: 30px; }
  #sidebar ul.sub a {
    white-space: normal; }

.hidden-toggle {
  display: none; }

.title {
  display: inline-block; }

.main-content, .reverse-animation {
  margin-left: 210px;
  overflow: hidden; }

.animation {
  animation: expand .5s;
  margin-left: 0; }

.reverse-animation {
  animation: reverse-expand .5s; }

@keyframes expand {
  from {
    margin-left: 210px; }
  to {
    margin-left: 0px; } }

@keyframes reverse-expand {
  from {
    margin-left: 0px; }
  to {
    margin-left: 210px; } }

#nav-icon-close {
  float: right;
  margin: 10px; }

#nav-icon-open {
  margin-right: 10px; }

.custom-toggle {
  cursor: pointer;
  height: 25px;
  position: relative;
  width: 30px; }

.custom-toggle span {
  background: #007A9B;
  border-radius: 9px;
  display: block;
  height: 3px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%; }

/* Icon 3 */
#nav-icon-open span:nth-child(1) {
  top: 0px; }

#nav-icon-open span:nth-child(2) {
  top: 9px; }

#nav-icon-open span:nth-child(3) {
  top: 19px; }

#nav-icon-close span:nth-child(1) {
  top: 15px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon-close span:nth-child(2) {
  top: 15px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.custom-responsive {
  display: block;
  overflow: auto; }

#prof_pic {
  max-height: 200px; }

.table {
  background: #ffffff; }
  .table thead tr th {
    border: none; }

.dataTables_wrapper {
  margin-bottom: 30px; }
  .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #979797;
    border-radius: 30px;
    text-indent: 10px; }
    .dataTables_wrapper .dataTables_filter input:focus {
      outline: none; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    border-radius: 50%; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #15BBE8;
    background-color: #15BBE8;
    border: 1px solid #15BBE8;
    border-radius: 50%;
    color: #ffffff !important; }
  .dataTables_wrapper .dataTables_paginate a.paginate_button:focus {
    outline: none; }
  .dataTables_wrapper .dataTables_paginate a#timesheet-table_next:hover, .dataTables_wrapper .dataTables_paginate a#timesheet-table_previous:hover {
    background: none;
    border: 1px solid transparent;
    color: #15BBE8 !important;
    cursor: pointer; }

.dropdown-item:hover, .dropdown-item:active {
  background-color: #15BBE8;
  color: #ffffff;
  width: auto; }

#calendar .ui-state-active, #calendar .ui-button:active {
  background: #25CBF2;
  border: 1px solid #15BBE8;
  color: #ffffff; }
  #calendar .ui-state-active:hover, #calendar .ui-button:hover:active {
    background: #15BBE8; }

#overtime-details-modal table td {
  border-top: 0; }
